.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}
/*
.ui-layout-pane-north {
    border: none;
    font-size: small;
    overflow: hidden;
}

.ui-layout-pane-south {
    border: 0;
}

.ui-layout-pane-center {
    border: none;
	overflow:hidden;
}

.ui-layout-pane-west {
    border: none;
    overflow-x:hidden !important!;
}
*/
#container
 {
     /*height:100%;*/ 
	 min-width:800px; 
	 max-width:1100px;
	 margin: 0 auto;
	text-align: left;
 }

 #menuButton
 {
    text-align: right;
 }

#toFriend:hover
{
    border-bottom-style: outset;
    border-bottom-width: 3px;
}

body {
margin: 0;
padding: 0;
text-align: center;
}

#main {
border: solid black 1px; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
}

