.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

.ui-layout-pane-north {
    border: none;
    font-size: small;
    overflow: hidden;
}

.ui-layout-pane-south {
    border: 0;
}

.ui-layout-pane-center {
    border: none;
}

.ui-layout-pane-west {
    border: none;
    overflow-x:hidden !important!;
}

#container
 {
     margin: 0;
     padding 0;
     text-align:centered;
 }

 #box
 {
     width:800px;
     margin: 0 auto;
     text-align:left;
 }

#toFriend:hover
{
    border-bottom-style: outset;
    border-bottom-width: 3px;
}