.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}
.panel div, .panel table tbody tr td{
    padding-bottom: 0.3px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}
.friendpicture {
    padding-top: 3px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    border: none !important;
    width: 5% !important;
}
.frienddata {
    padding-top: 3px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    border: none !important;
    width: 95% !important;
}
.friends tbody tr {
    padding: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
}
.friends tbody tr:hover {
	background: #DCEBF5 !important;
}
/*
.ui-layout-pane-north {
    border: none;
    font-size: small;
    overflow: hidden;
}

.ui-layout-pane-south {
    border: 0;
}

.ui-layout-pane-center {
    border: none;
	overflow:hidden;
}

.ui-layout-pane-west {
    border: none;
    overflow-x:hidden !important!;
}
*/
#container
 {
     /*height:100%;*/ 
	 min-width:800px; 
	 max-width:1100px;
	 margin: 0 auto;
	text-align: left;
 }

 #menuButton
 {
    text-align: right;
 }

#toFriend:hover
{
    border-bottom-style: outset;
    border-bottom-width: 3px;
}

body {
margin: 0;
padding: 0;
text-align: center;
}

#main {
margin-top: 1em;
margin-bottom: 1em;
border: solid 1px;
border-color: #dddddd; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
}

