<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 <!-- Beans Declaration -->
 <bean id="trip" class="ru.ipccenter.favortrippals.core.model.Trip"/>
 <bean id="goods" class="ru.ipccenter.favortrippals.core.model.Goods"/>
 <bean id="request" class="ru.ipccenter.favortrippals.core.model.Request"/>

 <!-- User Service Declaration -->
 <bean id="userService" class="ru.ipccenter.favortrippals.core.user.service.UserService">
     <property name="userDAO" ref="userDAO" />
 </bean>
 
 <!-- SocialConnections Service Declaration -->
 <bean id="socialConnectionService" class="ru.ipccenter.favortrippals.core.socialconnection.service.SocialConnectionService">
     <property name="socialConnectionDAO" ref="socialConnectionDAO" />
 </bean>
 
 <!-- Request Service Declaration -->
 <bean id="requestService" class="ru.ipccenter.favortrippals.core.request.service.RequestService">
     <property name="requestDAO" ref="requestDAO" />
 </bean>
 
 <!-- Goods Service Declaration -->
 <bean id="goodsService" class="ru.ipccenter.favortrippals.core.goods.service.GoodsService">
     <property name="goodsDAO" ref="goodsDAO" />
 </bean>

 <!-- Trip Service Declaration -->
 <bean id="tripService" class="ru.ipccenter.favortrippals.core.trip.service.TripService">
     <property name="tripDAO" ref="tripDAO" />
 </bean>

 <!-- User DAO Declaration -->
 <bean id="userDAO" class="ru.ipccenter.favortrippals.core.user.dao.UserDAO">
     <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 
 <!-- SocialConnections DAO Declaration -->
 <bean id="socialConnectionDAO" class="ru.ipccenter.favortrippals.core.socialconnection.dao.SocialConnectionDAO">
     <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 
 <!-- Request DAO Declaration -->
 <bean id="requestDAO" class="ru.ipccenter.favortrippals.core.request.dao.RequestDAO">
     <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 
 <!-- Goods DAO Declaration -->
 <bean id="goodsDAO" class="ru.ipccenter.favortrippals.core.goods.dao.GoodsDAO">
     <property name="sessionFactory" ref="sessionFactory" />
 </bean>

 <!-- Trip DAO Declaration -->
 <bean id="tripDAO" class="ru.ipccenter.favortrippals.core.trip.dao.TripDAO">
     <property name="sessionFactory" ref="sessionFactory" />
 </bean>
    
 <!-- Data Source Declaration -->
 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
     <property name="location">
         <value>WEB-INF/classes/config/database/db.properties</value>
     </property>
 </bean>
 
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
     <property name="driverClassName" value="${jdbc.driverClassName}" />
     <property name="url" value="${jdbc.url}" />
     <property name="username" value="${jdbc.username}" />
     <property name="password" value="${jdbc.password}" />
 </bean>

 <!-- Session Factory Declaration -->
 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
     <property name="dataSource" ref="dataSource" />
     <property name="annotatedClasses">
     <list>
         <value>ru.ipccenter.favortrippals.core.model.User</value>
         <value>ru.ipccenter.favortrippals.core.model.Trip</value>
         <value>ru.ipccenter.favortrippals.core.model.SocialConnection</value>
   	 <value>ru.ipccenter.favortrippals.core.model.Request</value>
         <value>ru.ipccenter.favortrippals.core.model.Goods</value>
     </list>
     </property>
     <property name="hibernateProperties">
         <props>
	     <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
             <prop key="hibernate.show_sql">true</prop>
	 </props>
     </property>
 </bean>

 <!-- Enable the configuration of transactional behavior based on annotations -->
 <tx:annotation-driven transaction-manager="txManager"/>

 <!-- Transaction Manager is defined -->
 <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
     <property name="sessionFactory" ref="sessionFactory"/>
 </bean>
</beans>